* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  background: #d4d4d4;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Open Sans', sans-serif;
  font-size: 2rem;
}
h1 {
  font-family: 'Slabo 27px', serif;
  text-align: center;
  font-weight: normal;
  margin: 0;
}
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  font-family: 'Oswald', sans-serif;
  text-align: center;
}
h2 {
  text-align: center;
  margin-top: 0;
  margin-bottom: 2rem;
}
h3 {
  font-size: 3rem;
}
header.top {
  text-align: center;
}
header.top h1 {
  font-size: 14.4rem;
  line-height: 0.7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.divWrap{
  padding: 1em;
}
.divWrap h3{
  line-height: 40px;
}
.noData{
  text-align: center;
  padding: 1em;
}
.centerBtn{
  text-align: center;
}
.center-it{
  text-align: center;
}
body{
  background: offwhite;
}
.the-grid{
  display: flex;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 1em;
}
.grid-figure{
  flex-basis: calc(33.333% - 4rem);
  flex-grow: 1;
  flex-shrink: 0;
  margin: 0 2rem 2rem 2rem;
  padding: 2rem;
  border: 1px solid lightgray;
  background: white;
  box-shadow: 0 0 0 5px rgba(0,0,0,0.03);
  position: relative;
}
.single-photo>.grid-figure{
  max-width: 900px;
  margin: 0 auto;
  display: flex;
  background: white;
}
.active{
    color: #23527c;
    text-decoration: underline;
}

ul>li{
  display: inline-block;
  padding: 0 20px;
}

.table>tbody>tr>td, 
.table>tbody>tr>th, 
.table>tfoot>tr>td, 
.table>tfoot>tr>th, 
.table>thead>tr>td, 
.table>thead>tr>th {
    text-align: center;
}

.table-layout{
  flex-basis: auto;
  flex-grow: 1;
  flex-shrink: 0;
  padding: 20px;
  min-width: 600px;
  position: relative;
}

.playerName{
  font-size: 3em;
}

.league-details{
    font-size: 2em;
}

.detailWrap{
    display: flex;
    justify-content: center;
}
 
.grid-photo{
      width: 100%;
      margin: 0;
}
.imgWrap{
    margin: 0 auto;
    width: 300px;
}
.grid-photo{
  width: calc(100% + 4rem);
  max-height: 300px;
  background-color: offwhite;
  margin-left: -2rem;
  margin-top: -2rem;
  max-width: none;
}
.grid-photo-wrap{
    position: relative;
    padding-top: 1em;
} 
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden] {
  display: none;
}
html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
a{
  text-decoration: none;
}
a:focus {
  outline: thin dotted;
}
a:active,
a:hover {
  outline: 0;
}
h1 {
  font-size: 4em;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: 700;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

